html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    background-color: #1E252B;
    max-width: 1440px;
    font-family: Poppins;
}

a {
    text-decoration: none;
}

.header {
    width: 1224px;
    height: 48px;
    margin: 26px 105px 0px 111px;
    display: flex;
}

.logo {
    width: 38px;
    height: 38px;
    top: 31px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
}

.name {
    width: 90px;
    height: 33px;
    margin: 26px 0px 0px 12px;
    align-self: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    color: #FFFFFFE5;
}

.list {
    margin: 26px 0px 0px 220px;
    width: 431px;
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list a {
    color: #FFFFFF8C;
    font-size: 16px;
    font-weight: 500;
}


.login {
    width: 44px;
    height: 24px;
    margin: 26px 0px 0px 193px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFFC7;
}

.signup {
    width: 118px;
    height: 48px;
    margin: 26px 0px 0px 41px;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    background-color: #FF6E30;
    color: #FDF5FF;
    padding: 12px 28px 12px 28px;
    text-decoration: none;
    align-self: center;
    font-weight: 600;
    line-height: 24px;
}


.back {
    width: 589px;
    height: 568px;
    top: 132px;
    left: 848px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    position: absolute;
}

.block1 h1 {
    width: 600px;
    height: 140px;
    margin: 104px 729px 0px 111px;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #FFFFFFE5;

}

.block1 span {
    color: #FF6E30;
}

.text {
    width: 487px;
    height: 60px;
    margin: 30px 842px 0px 111px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF8C;
}

.big_rectangle {
    width: 497.66px;
    height: 64px;
    margin: 60px 0px 0px 105px;
    border-radius: 15px 15px 15px 15px;
    border: 1.5px 0px 0px 0px;
    background: #283036;
    border: 1.5px solid;
    border-image-source: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
    padding: 21px 240px 22px 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF61;
}

.search_sign {
    width: 24.08px;
    height: 24px;
    top: 488px;
    left: 126.06px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    background: none;
}

.line_thin {
    width: 16px;
    height: 0px;
    top: 499px;
    left: 163.18px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    position: absolute;
    background: none;
    border: 1.5px solid #837A93;
    rotate: 90deg;
}

.small-rectangle {
    width: 130.43px;
    height: 48px;
    top: 476px;
    left: 464.19px;
    gap: 0px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    position: absolute;
    background: #FF6E30;
    padding: 12px 36px 12px 36px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}


.media {
    margin: 110px 0px 0px 108px;
}

.block2 {
    width: 1224px;
    height: 1109px;
    margin: 200px 111px 0px 105px;

}

.block2 h1 {

    margin: 0px 385px 0px 385px;
    font-size: 48px;
    font-weight: 500;
    line-height: 62.4px;
    text-align: center;
    color: #FFFFFFE5;
    white-space: nowrap;
}

.block2 div {
    width: 427px;
    height: 60px;
    margin: 25px 399px 0px 399px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF8C;

}

// .mini-blocks {

//     width: 1224px;
//     height: 314px;
//     margin: 90px 0px 0px 0px;
//     background-color:#FF6E30;
// }

.Figma {
    display: block;
    width: 392px;
    height: 294px;
    margin: 110px 0px 0px 0px;


}

.figma-logo {
    margin: 34px 0px 0px 33px;

}

// .block2 h1,
// p {
//     display: flex;
//     position: absolute;
//     width: 455px;
//     height: 147px;
//     top: 900px;
//     left: 493px;
//     gap: 0px;
//     opacity: 0px;

// }

// .block2 h1 {

//     font-family: Poppins;
//     font-size: 48px;
//     font-weight: 500;
//     line-height: 62.4px;
//     text-align: center;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFE5;
// }

// .block2 span {
//     position: relative;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 30px;
//     text-align: center;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFF8C;
// }

// .block2 p {
//     width: 326px;
//     height: 60px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 30px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFF8C;
// }


// .like {
//     width: 42px;
//     height: 42px;
//     gap: 0px;
//     opacity: 0px;
// }

// .add {
//     width: 42px;
//     height: 42px;
//     gap: 0px;
//     opacity: 0px;
// }

// .visit {
//     width: 106px;
//     height: 42px;
//     gap: 0px;
//     border-radius: 8px 8px 8px 8px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 16px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFF8C;
// }


// .Figma {
//     width: 392px;
//     height: 294px;
//     top: 1157px;
//     left: 108px;
//     gap: 0px;
//     border-radius: 15px 15px 15px 15px;
//     opacity: 0px;
// }

// .fig {
//     width: 42.67px;
//     height: 64px;
//     left: 10.67px;
//     gap: 0px;
//     opacity: 0px;
// }

// .Figma h2 {
//     width: 76px;
//     height: 36px;
//     top: 1190px;
//     left: 235px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFC7;
// }

// .Figma h3 {
//     width: 39px;
//     height: 27px;
//     top: 1229px;
//     left: 235px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 27px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFA5378C;
// }

// .Figma p {
//     top: 1286px;
//     left: 141px;
// }

// .Figma .like {
//     top: 1376px;
//     left: 141px;
// }

// .Figma .add {
//     top: 1376px;
//     left: 195px;
// }

// .Figma .visit {
//     top: 1376px;
//     left: 361px;
// }

// .VScode {
//     width: 392px;
//     height: 294px;
//     top: 1157px;
//     left: 940px;
//     gap: 0px;
//     border-radius: 15px 15px 15px 15px;
//     opacity: 0px;
// }

// .vscode {
//     width: 65px;
//     height: 62.84px;
//     top: 1192px;
//     left: 973px;
//     gap: 0px;
//     opacity: 0.78px;
// }

// .VScode h2 {
//     width: 229px;
//     height: 36px;
//     top: 1190px;
//     left: 1067.76px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFC7;
// }

// .VScode h3 {
//     width: 38.9px;
//     height: 27px;
//     top: 1229px;
//     left: 1067.76px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 27px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
// }

// .VScode p {
//     top: 1286px;
//     left: 973px;
// }

// .VScode .like {
//     top: 1376px;
//     left: 973px;
// }

// .VScode .add {
//     top: 1376px;
//     left: 1027px;
// }

// .VScode .visit {
//     top: 1376px;
//     left: 1193px;
// }

// .Notion {
//     width: 392px;
//     height: 294px;
//     top: 1551px;
//     left: 108px;
//     gap: 0px;
//     border-radius: 15px 15px 15px 15px;
//     opacity: 0px;
// }

// .notion {
//     width: 64px;
//     height: 64px;
//     top: 1585px;
//     left: 141px;
//     gap: 0px;
//     opacity: 0.78px;
// }

// .Notion h2 {
//     width: 79px;
//     height: 36px;
//     top: 1584px;
//     left: 235px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFC7;
// }

// .Notion h3 {
//     width: 101px;
//     height: 27px;
//     top: 1623px;
//     left: 235px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 27px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFA5378C;
// }

// .Notion p {
//     top: 1680px;
//     left: 141px;
// }

// .Notion .like {
//     top: 1770px;
//     left: 141px;
// }

// .Notion .add {
//     top: 1770px;
//     left: 195px;
// }

// .Notion .visit {
//     top: 1770px;
//     left: 361px;
// }

// .Slack {
//     width: 392px;
//     height: 294px;
//     top: 1551px;
//     left: 524px;
//     gap: 0px;
//     border-radius: 15px 15px 15px 15px;
//     opacity: 0px;
// }

// .slac {
//     width: 65px;
//     height: 63.82px;
//     top: 1585px;
//     left: 557px;
//     padding: 0px 0.15px 0.2px 0px;
//     gap: 0px;
//     opacity: 0.78px;
// }

// .Slack h2 {
//     width: 65px;
//     height: 36px;
//     top: 1584px;
//     left: 652px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFC7;
// }

// .Slack h3 {
//     width: 101px;
//     height: 27px;
//     top: 1623px;
//     left: 652px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 27px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFA5378C;
// }

// .Slack p {
//     top: 1680px;
//     left: 557px;
// }

// .Slack .like {
//     top: 1770px;
//     left: 557px;
// }

// .Slack .add {
//     top: 1770px;
//     left: 611px;
// }

// .Slack .visit {
//     top: 1770px;
//     left: 777px;
// }

// .Invision {
//     width: 392px;
//     height: 294px;
//     top: 1551px;
//     left: 940px;
//     gap: 0px;
//     border-radius: 15px 15px 15px 15px;
//     opacity: 0px;
// }

// .invis {
//     width: 65px;
//     height: 63.82px;
//     top: 1585px;
//     left: 973px;
//     gap: 0px;
//     opacity: 0.78px;
// }

// .Invision h2 {
//     width: 93px;
//     height: 36px;
//     top: 1584px;
//     left: 1067.76px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFC7;
// }

// .Invision h3 {
//     width: 101px;
//     height: 27px;
//     top: 1623px;
//     left: 1067.76px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 27px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFA5378C;
// }

// .Invision p {
//     top: 1680px;
//     left: 973px;
// }

// .Invision .like {
//     top: 1770px;
//     left: 973px;
// }

// .Invision .add {
//     top: 1770px;
//     left: 1027px;
// }

// .Invision .visit {
//     top: 1770px;
//     left: 1193px;
// }

// .Sketch {
//     width: 392px;
//     height: 294px;
//     top: 1137px;
//     left: 525px;
//     gap: 0px;
//     opacity: 0px;
//     border: 2px solid;
//     background: #28303699;
//     border-image-source: linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
//     backdrop-filter: blur(50px)
// }

// .sketch {
//     width: 64px;
//     height: 56.95px;
//     top: 1175px;
//     left: 558px;
//     gap: 0px;
//     opacity: 0px;
// }

// .Sketch h2 {
//     width: 82px;
//     height: 36px;
//     top: 1170px;
//     left: 652px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFE5;
// }

// .Sketch h3 {
//     width: 100px;
//     height: 27px;
//     top: 1209px;
//     left: 652px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 27px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFA537;
// }

// .Sketch p {
//     top: 1266px;
//     left: 558px;
// }

// .like1 {
//     width: 28px;
//     height: 28px;
//     top: 1363px;
//     left: 565px;
//     padding: 5.25px 1.17px 1.75px 1.17px;
//     gap: 0px;
//     opacity: 0px;
// }

// .add1 {
//     width: 42px;
//     height: 42px;
//     top: 1356px;
//     left: 612px;
//     gap: 0px;
//     opacity: 0px;
// }

// .visit1 {
//     width: 106px;
//     height: 42px;
//     top: 1356px;
//     left: 778px;
//     gap: 0px;
//     border-radius: 8px 8px 8px 8px;
//     opacity: 0px;
//     background-color: #FF6E30;
//     font-family: Poppins;
//     font-size: 16px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFF;
// }

// .more {

//     font-family: Poppins;
//     font-size: 20px;
//     font-weight: 500;
//     line-height: 30px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FF6E30;
//     width: 184px;
//     height: 64px;
//     top: 1945px;
//     left: 628px;
//     gap: 0px;
//     border-radius: 8px 8px 8px 8px;
//     border: 1px 1px 1px 1px;
//     opacity: 0px;
//     background: #1E252B;
//     border: 1px solid #FFFFFF1A
// }

// footer {
//     width: 1224px;
//     height: 253px;
//     top: 2209px;
//     left: 108px;
//     gap: 0px;
//     border-radius: 25px 0px 0px 0px;
//     border: 2px 0px 0px 0px;
//     opacity: 0px;
//     background: #2C353D33;
//     border: 2px solid;
//     border-image-source: linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
//     backdrop-filter: blur(50px)
// }

// .footer h2 {
//     width: 367px;
//     height: 36px;
//     top: 2264px;
//     left: 536px;
//     gap: 0px;
//     opacity: 0px;
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 36px;
//     text-align: left;
//     text-underline-position: from-font;
//     text-decoration-skip-ink: none;
//     color: #FFFFFFCC;
// }

// .micro {
//     width: 193px;
//     height: 42px;
//     top: 2360px;
//     left: 190px;
//     gap: 0px;
//     opacity: 0px;
// }

// .google {
//     width: 157px;
//     height: 51px;
//     top: 2355px;
//     left: 490px;
//     gap: 0px;
//     opacity: 0px;
// }

// .slack {
//     width: 194px;
//     height: 49px;
//     top: 2356px;
//     left: 754px;
//     gap: 0px;
//     opacity: 0px;
// }

// .wordpress {
//     width: 194px;
//     height: 44px;
//     top: 2359px;
//     left: 1055px;
//     padding: 0px 0px 0.31px 0px;
//     gap: 0px;
//     opacity: 0px;
// }